@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgb(39, 37, 37);
}

footer .fcontent{
    max-width: 1440px;
    margin: auto;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}